%h1 Editing user

= render 'form'

= link_to t(:show), @user, :class => 'btn'
= link_to t(:back), users_path, :class => 'btn'
- if @is_admin
  = link_to t(:destroy), transaction_path, :confirm => 'Are you sure?', :method => 'delete', :class => 'btn btn-delete'
